<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>QUIZ</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <section class="quiz">
            <nav>
                <a href="/"></a>
                <div class="nav-links" id="navlinks">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/covid">COVID-19</a></li>
                        <li><a href="/quiz">QUIZ</a></li>
                        <li><a href="/faq">FAQs</a></li>
                    </ul>
                </div>
            </nav>
        <div class="main-div">
            <div class="inner-div">
                <h2 class="question">Question comes here</h2>
                <ul>
                    <li>
                        <input type="radio" name="answer" id="ans1" class="answer">
                        <label for="ans1" id="option1"> answer</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans2" class="answer">
                        <label for="ans2" id="option2"> answer</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans3" class="answer">
                        <label for="ans3" id="option3"> answer</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="ans4" class="answer">
                        <label for="ans4" id="option4"> answer</label>
                    </li>
                </ul>
                <button id="submit">Submit</button>
                <div id="showscore" class="scorearea"></div>
            </div>
        </div>
        <script>
            const quizDB = [
                    {
                        question: "1. In a study, which cells are found in COVID-19 patients 'bode well' for long-term immunity?",
                        a: "P-cell",
                        b: "D-cell",
                        c: "T-cell",
                        d: "Endothelial Cells",
                        ans: "ans3"
                    },
                    {
                        question: "2. The first case of novel coronavirus was identified in?",
                        a: "Wuhan, Hubei",
                        b: "Beijing",
                        c: "Tianjin",
                        d: "Shanghai",
                        ans: "ans1"
                    },
                    {
                        question: "3. What is Coronavirus?",
                        a: "It is a large family of viruses",
                        b: "It belongs to the family of Nidovirus",
                        c: "Both A and B are correct",
                        d: "Only A is correct",
                        ans: "ans3"
                    },
                    {
                        question: "4. Mild Symptoms of Novel coronavirus are?",
                        a: "Fever",
                        b: "Cough",
                        c: "Shortness of breath",
                        d: "All the above",
                        ans: "ans4"
                    },
                    {
                        question: "5. Name a clinical trial in which blood is transfused from recovered COVID-19 patients to a coronavirus patient who is in critical condition?",
                        a: "Solidarity",
                        b: "Plasma Therapy",
                        c: "Remdesivir",
                        d: "Hydroxychloroquine",
                        ans: "ans2"
                    }
                ];

                const question = document.querySelector('.question');
                const option1 = document.querySelector('#option1');
                const option2 = document.querySelector('#option2');
                const option3 = document.querySelector('#option3');
                const option4 = document.querySelector('#option4');
                const submit = document.querySelector('#submit');

                const answers = document.querySelectorAll('.answer');

                const showscore = document.querySelector('#showscore');

                let questionCount = 0;
                let score = 0;

                const loadQuestion = () => {

                    const questionList = quizDB[questionCount];

                    question.innerHTML = questionList.question;

                    option1.innerHTML = questionList.a;
                    option2.innerHTML = questionList.b;
                    option3.innerHTML = questionList.c;
                    option4.innerHTML = questionList.d;

                }

                loadQuestion();

                const getCheckAnswer = () => {
                    let answer;

                    answers.forEach((curAnsElem) => {
                        if (curAnsElem.checked) {
                            answer = curAnsElem.id;
                        }
                    });
                    return answer;
                }

                const deselectAll = () => {
                    answers.forEach((curAnsElem) => curAnsElem.checked = false);
                }

                submit.addEventListener('click', () => {
                    const checkedAnswer = getCheckAnswer();
                    console.log(checkedAnswer);

                    if (checkedAnswer == quizDB[questionCount].ans) {
                        score++;
                    }

                    questionCount++;

                    deselectAll();

                    if (questionCount < quizDB.length) {
                        loadQuestion()
                    } else {

                        showscore.innerHTML = `
            <h3> you scored ${score}/${quizDB.length} </h3>
            <button class="btn" onclick = "location.reload()"> Play Again </button>
        `;

                        showscore.classList.remove('scorearea');
                    }


                });
            

        </script>
    </section>
</body>

</html>