@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
}
html {
    background-color: #F0F5F9;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.63)),url(img/background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 40px;
    margin-left: 5px;
}

.nav-links {
    flex: 1;
    text-align: right;
    height: 20px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}

.nav-links ul li a {
    color: #eae0d5;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #E8F1F5;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.box {
    width: 90%;
    color: #eae0d5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.box h1 {
    font-size: 62px;
}

.box p {
    margin: 10px 0 40px;
    font-size: 24px;
}

.inside{
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #eae0d5;
    border: 1px solid #eae0d5;
    border-radius: 12px;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #C9D6DF;
    background: #C9D6DF;
    transition: 1s;
    color: #1c2541;
}


.data h1{
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    color: #623764;
    margin-top: 8px;
}
.global{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: start;
  column-gap: 30px;
  row-gap: 18px;
  padding: 30px;
  margin: 25px 0 30px 0;
}
.container{
  color: #242424;
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border: 1px solid #95A5A6;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.container:hover{
    border: none;
    color: black;
    transform: translate(0px, -15px);
    box-shadow: 0 0 30px 0 #66788a94;
    transition: transform 0.2s ease-in-out;
}
.container h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
#one h1{
    color: #8fa73e;
}
#two h1{
    color: #006a4e;
}
#three h1{
    color: #373c43;
}
span{
    height: 100%;
    width: 0;
    border-radius: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 00.5s ease-in-out;
}
#one:hover span{
    width: 100%;
    background: rgba(143, 167, 62, 0.3);
}
#two:hover span{
    width: 100%;
    background: rgba(0, 106, 78, 0.3);
}
#three:hover span{
    width: 100%;
    background: rgba(55, 60, 67, 0.2);
}


table{
    width: 80%;
    margin-top: 5%;
    margin: auto;
    padding: auto;
    text-transform: uppercase;
    box-shadow: 0 1rem 1rem 0.5rem #dcd6f7;
}
table thead{
    background-color: #b9d7ea;
}
table thead tr th{
    text-align: center;
    height: 70px;
    font-size: 25px;
    padding: 10px;
    border: 0px;
}
table tbody tr td{
    text-align: left;
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    border: 0px;
}
table tbody tr:hover{
    background-color: #ffe2e2;
    transition: 00.5s;
}
table tbody tr td:hover{
    transition: 00.25s;
    font-weight: 700;
    color: #006a4e;
    border: none;
}


.protect {
    background-color: #eae0d5;
}

.heading2 {
    text-align: center;
    padding: 1rem;
    font-size: 45px;
    font-weight: 600;
    color: #1c2541;
}

.text-box p{
    color: #eae0d5;
    font-size: 25px;
    padding-left: 10px;
}

.protect .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.protect .box-container .box2 {
    background: #eae0d5;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    margin: 2rem;
    width: 34rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    text-align: center;
}

.protect .box-container .box2 img {
    height: 8rem;
    width: 8rem;
}

.protect .box-container .box2 h3 {
    font-size: 2.5rem;
    color: #1c2541;
    padding: 1rem 0;
}

.protect .box-container .box2 p {
    font-size: 1.4rem;
    color: #1c2541da;
    padding: .5rem;
}

.protect .box-container .box2:hover {
    transform: translateY(-1rem);
}

.symtoms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eae0d5;
}

.symtoms .content {
    flex: 1 1 40rem;
    padding-left: 20px;
}

.symtoms .image {
    flex: 1 1 30rem;
}

.symtoms .image img {
    width: 100%;
}

.symtoms .content p {
    font-size: 1.5rem;
    color: #1c2541da;
    padding: 1rem 0;
}

.symtoms .content ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.symtoms .content ul .two {
    padding-left: 4.5rem;
}

.symtoms .content ul li {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #1c2541da;
    padding: .5rem 0;
}


.prevent {
    background: #eae0d5;
}

.prevent h1 {
    font-size: 45px;
    font-weight: 600;
    color: #1c2541;
    text-align: center;
}

.prevent .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.prevent .row .image {
    flex: 1 1 37rem;
    height: 28rem;
    text-align: center;
}

.prevent .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.prevent .row .content2 {
    padding: 2rem 10rem;
    flex: 1 1 37rem;
}

.prevent .row .content2 .heading {
    color: #1c2541;
    font-size: 40px;
}

.prevent .row .content2 p {
    font-size: 1.7rem;
    color: #1c2541;
    ;
    padding: 1rem 0;
}

.prevent .row .content2 ul li {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #1c2541;
    ;
    padding: 0.5rem 0;
}


.handwash .heading {
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    background-color: #1c2541;
    color: #eae0d5;
    font-size: 45px;
    font-weight: 600;
}

.handwash .box-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1c2541;
}

.handwash .box-container2 .box2 {
    background: #1c2541;
    border: 0 solid #1c2541;
    margin: 2rem;
    margin-top: 3rem;
    padding: 2rem 3.5rem;
    text-align: center;
    position: relative;
}

.handwash .box-container2 .box2 img {
    height: 8rem;
    width: 8rem;
}

.handwash .box-container2 .box2 h3 {
    font-size: 2rem;
    color: #666;
    padding: 1rem 0;
}

.handwash .box-container2 .box2 span {
    display: block;
    position: absolute;
    top: -2rem;
    left: -2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #1c2541;
    background: #eae0d5;
    border-radius: 5rem;
}


.quiz {

    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.63)),
    url(img/background2.jpg);
    background-position: center;
    background-size: cover;
}

.main-div {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.inner-div {
    width: 50vw;
    background-color: #eae0d5;
    padding: 3rem 8rem;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.3);
}

.inner-div h2 {
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
}

.inner-div li {
    font-size: 1.50rem;
    margin-top: 1.5rem;
    list-style: none;
}

input {
    cursor: pointer;
}

#submit {
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    display: block;
    margin: auto;
    border: none;
    text-transform: capitalize;
    color: #131d3b;
    background: transparent;
    margin-top: 50px;
    border-radius: 0.5rem;
    border: 1px solid #131d3b;
}

#submit:hover {
    background-color: #131d3b;
    color: #fff;
}

#showscore {
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

#showscore h3 {
    font-size: 3rem;
    text-align: center;
}

#showscore .btn {
    margin-top: 2rem;
}

.scorearea {
    display: none;
}
